<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
    <title>CM Installation Statistics</title>
    
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', {'packages':['geomap', 'table']});
        google.load("jquery", "1.4.2");
        google.load("jqueryui", "1.8.5");
        
        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(function(){
            drawCharts();
        });
        
        // Callbacks
        function drawCharts() {
            drawCountryTable();
            drawCountryChart();
        }
        
        function drawCountryTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Country');
            data.addColumn('number', 'Count');
            data.addRows([
                {% for value in country_data %}
                ['{{ value.0 | escape }}', {{ value.1 }}],
                {% endfor %}
            ]);
            
            var chart = new google.visualization.Table(document.getElementById('country_table'));
            chart.draw(data, {showRowNumber: false});
        }
        
        function drawCountryChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Country');
            data.addColumn('number', 'Installations');
            data.addRows([
                {% for value in country_data %}
                ['{{ value.0 | escape }}', {{ value.1 }}],
                {% endfor %}
            ]);
            
            var chart = new google.visualization.GeoMap(document.getElementById('country_chart'));
            chart.draw(data, {width: 948, height: 440});
        }
    </script>
    
    <link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    
    <link rel="stylesheet" href="/static/core.css">
</head>
<body>
    <div class="container">
        <h3>CyanogenMod Statistics - Carriers</h3>
        
        {% include "_navigation.html" %}
        
        <br/>
        <div class="span-24 last"><div class="chart" id="country_chart"></div><br/></div>
        <div class="span-24 last`"><div class="chart" id="country_table"></div></div>
    </div>
</body>
</html>
