<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
    <title>CM Installation Statistics</title>
    
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {'packages':['corechart']});
        google.load("jquery", "1.4.2");
        google.load("jqueryui", "1.8.5");
        
        google.setOnLoadCallback(function(){
            drawCharts();
        });
        
        function drawCharts() {
            drawDeviceChart();
        }
        
        function drawDeviceChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Device');
            data.addColumn('number', 'Installations');
            data.addRows([
                {% for value in device_data %}
                ['{{ value.0|escape }}', {{ value.1 }}],
                {% endfor %}
            ]);
            
            var chart = new google.visualization.PieChart(document.getElementById('device_chart'));
            chart.draw(data, {width: 468, height: 300, title: 'Installations by Device'});
        }
    </script>
    
    <link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    
    <link rel="stylesheet" href="/static/core.css">
</head>
<body>
    <div class="container">
        <h3>CyanogenMod Statistics</h3>
        
        {% include "_navigation.html" %}
        
        <div class="span-12 last">
            <div id="device_chart" class="chart"></div>
        </div>
        
        <div class="span-12">
            <div style="padding: 10px;">
                <ul>
                <li><b>Total Installs: </b> <span id="device_count">{{ device_count }}</span></li>
                <li><b>Total Devices: </b> <span id="devices_count">{{ devices_count }}</span></li>
                <li><b>Total Carriers: </b> <span id="carriers_count"> {{ carrier_count }}</span></li>
                <li><b>Total Countries: </b> <span id="country_count"> {{ country_count }}</span></li>
                </ul>
            </div>
        </div>
        
    </div>
</body>
</html>
