<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
    <title>CM Installation Statistics</title>
    
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', {'packages':['corechart', 'geomap']});
        google.load("jquery", "1.4.2");
        google.load("jqueryui", "1.8.5");
        
        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(function(){
            drawCharts();
        });
        
        // Callbacks
        function drawCharts() {
            drawDeviceChart();
            drawVersionChart();
            drawUnknownVersionChart();
            drawCarrierChart();
            drawCountryChart();
        }
        
        function drawDeviceChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Device');
            data.addColumn('number', 'Installations');
            data.addRows([
                {% for value in graph_by_device %}
                ['{{ value.0 }}', {{ value.1 }}],
                {% endfor %}
            ]);
            
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('device_chart'));
            chart.draw(data, {width: 600, height: 440, title: 'Installations by Device'});
        }
        
        function drawVersionChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Versions');
            data.addColumn('number', 'Installations');
            data.addRows([
                {% for value in graph_by_version %}
                ['{{ value.0 }}', {{ value.1 }}],
                {% endfor %}
            ]);
            
            var chart = new google.visualization.PieChart(document.getElementById('version_chart'));
            chart.draw(data, {width: 600, height: 440, title: 'Installations by Version'});
        }
        
        function drawUnknownVersionChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Unknown Versions');
            data.addColumn('number', 'Installations');
            data.addRows([
                {% for value in graph_unknown_versions %}
                ['{{ value.0 }}', {{ value.1 }}],
                {% endfor %}
            ]);
            
            var chart = new google.visualization.PieChart(document.getElementById('unknown_version_chart'));
            chart.draw(data, {width: 600, height: 440, title: 'Unknown Version (kangers)'});
        }
        
        function drawCarrierChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Carrier');
            data.addColumn('number', 'Installations');
            data.addRows([
                {% for value in graph_carriers %}
                ['{{ value.0 }}', {{ value.1 }}],
                {% endfor %}
            ]);
            
            var chart = new google.visualization.PieChart(document.getElementById('carrier_chart'));
            chart.draw(data, {width: 600, height: 440, title: 'Carriers'});
        }
        
        function drawCountryChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Country');
            data.addColumn('number', 'Installations');
            data.addRows([
                {% for value in graph_by_country %}
                ['{{ value.0 }}', {{ value.1 }}],
                {% endfor %}
            ]);
            
            var chart = new google.visualization.GeoMap(document.getElementById('country_chart'));
            chart.draw(data, {width: 600, height: 440});
        }
    </script>
    
    <link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    
    <link rel="stylesheet" href="/static/core.css">
</head>
<body>
    <div class="container">
        <h3>CyanogenMod Statistics</h3>
        <div class="summary">
            <b>Unique Installs: </b> <span id="device_count">{{ device_count }}</span><br/>
            <b>Total Devices: </b> <span id="devices_count">{{ devices_count }}</span><br/>
        </div>
        <div id="device_chart" class="chart"></div>
        <div id="version_chart" class="chart"></div>
        <div id="unknown_version_chart" class="chart"></div>
        <div id="carrier_chart" class="chart"></div>
        <div id="country_chart" class="chart"></div>
    </div>
</body>
</html>