body {
    padding: 10px;
}

div.summary {
    padding: 10px;
}

div.chart {
    text-align: center;
    border: 1px solid #cccccc;
    margin: 10px 0px;
    padding: 10px;
}

div#counter {
    text-align: center;
    font-size: 3em;
    padding: 20px;
    color: #000000;
    font-weight: bold;
}