body {
    padding: 10px;
}

div.chart {
    text-align: center;
    border: 1px solid #CCCCCC;
}

div#counter {
    text-align: center;
    font-size: 3em;
    padding: 20px;
    color: #000000;
    font-weight: bold;
}

div#navigation {
    color: #00A1A6;
    font-weight: bold;
    background: #F2F2F2;
    padding: 5px;
    margin-bottom: 10px;
}

div#navigation a {
    color: #00A1A6;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}

div#navigation a:hover {
    color: #FF6000;
}